# Hexudon Server
HEXUDON_BASE_URL=http://localhost:8080
HEXUDON_TOKEN=YOUR_API_TOKEN

# Team Information
HEXUDON_TEAM_ID=YOUR_TEAM_ID
HEXUDON_GAME_ID=YOUR_GAME_ID

# Bot Configuration
HEXUDON_PRACTICE=false
BOT_POLL_DELAY_MS=1000